@import '~theme/theme.styl'

.root
  position relative
  display inline-flex
  align-items center
  padding 5px

  white-space nowrap
  color $linkColor
  text-decoration none

  cursor pointer
  outline none
  transition color .1s ease-out

  &:before
    content ''
    position absolute
    bottom 0
    left 5px
    right 5px
    height 2px
    background-color $activeColor
    transform scale(0)
    transition transform .1s ease-out
    pointer-events none

  &.clear::before
    content none;

  &.clearPadding
    padding 0

    &::before
      left 0
      right 0
      bottom -2px

  &.exact
    color $accentColor

  &.external::before
    background-color $accentColor

  &:hover
  &:active
  &:focus
    color $activeColor

    &.external
      color $accentColor

    &::selection
      color $accentColor

    &::before
      transform scale(1)

  &.disabled
    pointer-events none
    color $accentColor
    opacity .5

&.externalIcon
  height 1em
  width 1em
  display inline-block
  margin-left 3px
  margin-bottom -2px
