@import '../../../theme'

.root
  position relative
  overflow hidden
  background-size cover
  background-position center
  height 100%

  &.loading
    pointer-events none

  & > .overlay
  & > img
    border-radius inherit

.overlay
  z-index 1
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  pointer-events none
  transition background-color .1s ease-out

  .waitingForUpload &
    background-color var(--accent-color-alpha-200)
    border 4px solid var(--decent-color-alpha-500)

.root:hover

  .overlay
    background-color var(--active-color-alpha-500)

  .removeButton
    transform translateX(0)

.removeButton
  z-index 2
  position absolute
  right 0
  bottom 0
  transition transform .2s ease-out
  transform translateX(100%)
  border-radius 0
  border-top-left-radius inherit

  &
  &:hover
    background-color var(--decent-color-alpha-900)

  &:hover
    color var(--danger-color)

.progress
  z-index 1
  position absolute
  top 0
  left -100%
  height 100%
  width 100%

  background-color var(--active-color-alpha-800)
  transition all .2s ease-out
  pointer-events none

  &.complete
    opacity 0

.size-s
  borderRadiusSize('s')
  height 50px
  width 50px

.size-m
  borderRadiusSize('m')
  height 70px
  width 70px

.size-l
  borderRadiusSize('l')
  height 100px
  width 100px

.dragging
  overflow visible

  .overlay
  .progress
  .removeButton
    display none
