.block
  margin-top 16px

  &:first-child
    margin-top 0

.subtitle
  font-size 12px
  opacity 0.65
  margin-bottom 6px

.list
  max-width 640px
  width 100%

.view
  height 520px
  max-height 70vh
  width 100%
  max-width 720px
