.root
  position relative

.popupContent
  width 100%
  margin-top 8px

.options
  max-height 200px
  overflow-y auto

.option
  padding 8px 12px
  cursor pointer

  & > span
    display flex
    align-items center

.shimmer
  position absolute
  top 0
  left 0
  width 100%
  height 100%
