@import '../../theme'
json('./Input.constants.json')

$controlHeight = 34px
$paddingSide = 12px

.root
  position relative
  color var(--accent-color)

  &.isTextArea
    max-height 10em

.root
.main
.control
  width fit-content

.root
.controlWrapper
  max-width 100%

.main
  position relative
  display flex
  max-width 100%
  border-radius inherit

  .isTextArea &
    height auto !important
    max-height inherit !important

    .size-s&
      padding-right 2px !important;
    .size-m&
      padding-right 8px !important;
    .size-l&
      padding-right 13px !important;

.border
  z-index 0
  position absolute
  top 0
  left 0
  right 0
  bottom 0

  transition 0.15s ease-out
  transition-property box-shadow, border-color, background-color //, clip-path
  background-color var(--accent-color-alpha-100)
  border-radius inherit
  pointer-events none

  .root:hover &
    background-color var(--active-color-alpha-100)

  .variant-default &
    controlButtonVariant('default')

    .isFocused&
      controlButtonVariantFocus('default')

  .variant-outlined &
    controlButtonVariant('outlined')

    .isFocused&
      controlButtonVariantFocus('outlined')

    .hasError &
    .hasError:hover &
      outline(var(--danger-color))

    .isFocused.hasError&
      controlFocus(var(--danger-color))

    .isDisabled&
      outline(false, !important)
      controlFocus(false, !important)

  .isDisabled &
    opacity .6
    background-color var(--accent-color-alpha-500)


.size-s
  controlFontSize('s')

  .main
    controlSize('s')
    controlFontSize('s')
    borderRadiusSize('s')
    controlPaddingSize('s')

.size-m
  controlFontSize('m')

  .main
    controlSize('m')
    controlFontSize('m')
    borderRadiusSize('m')
    controlPaddingSize('m')

.size-l
  controlFontSize('l')

  .main
    controlSize('l')
    controlFontSize('l')
    borderRadiusSize('l')
    controlPaddingSize('l')

.isTextArea
  .main
    padding-left 0

.isDisabled
  color var(--accent-color-alpha-500)

.control
.addonLeft
.addonRight
  font-size inherit
  font-weight normal

.labelGap
  position absolute
  opacity 0
  pointer-events none

.label
  .isTextArea &
    max-height 40px

.scroller
  width 100%
  max-height 100%

.controlValuePlaceholder
  height 0
  opacity 0
  pointer-events none
  white-space nowrap

.control
  filter none // remove browser(Frefox) autofill-styles
  appearance none
  display inline-flex
  flex-grow 1
  position relative
  width 100%
  min-width 200px
  text-overflow ellipsis
  box-shadow none
  background none
  color inherit
  outline none
  transition border-color 0.15s ease-in-out 0s

  .isTextArea &
    display block
    width 100%

    &:hover
      cursor text

    &::after
      display block
      content ''

    .size-s&
      controlPaddingSize('s')
      padding-top 8px
      &::after
        height 8px
    .size-m&
      controlPaddingSize('m')
      padding-top 10px
      &::after
        height 10px
    .size-l&
      controlPaddingSize('l')
      padding-top 12px
      &::after
        height 12px

  // remove browser(Chrome) autofill-styles
  &:-internal-autofill-selected
  &:-webkit-autofill
    animation-name clearBg
    animation-fill-mode both

  .hasClear &
    .size-s&
      padding-right 20px
    .size-m&
      padding-right 24px
    .size-l&
      padding-right 28px

  &::placeholder
    color var(--accent-color-alpha-500)

  &::selection
    background-color var(--active-color-alpha-300)

@-webkit-keyframes clearBg
  to
    background transparent

.addonLeft
.addonRight
  display inline-flex
  align-items center
  user-select none
  z-index 1
  min-width 0 // to enable ellipsis work in flex

  .size-s &
    min-width 'calc(%s * 1.5)' % var(--indent-s)
  .size-m &
    min-width var(--indent-m)
  .size-l &
    min-width var(--indent-l)

  & > span
    white-space nowrap
    text-overflow ellipsis
    overflow hidden


.addonLeft
  margin-right $paddingSide
.addonRight
  margin-left $paddingSide

.requiredStar
  position absolute
  height 8px
  width 8px
  border-radius 50%
  background-color var(--warning-color)
  opacity .8
  pointer-events none

  .isDisabled &
    display none

  .size-s &
    right 4px
    top 4px
  .size-m &
    right 6px
    top 6px
  .size-l &
    right 8px
    top 8px

.isDisabled
  pointer-events none
  user-select none

.clearButton
  z-index 1
  position absolute
  top 0
  right 0
  bottom 1px
  height auto
  border-top-left-radius 0
  border-bottom-left-radius 0

  &:hover
    background-color var(--accent-color-alpha-0) !important

.clearIcon
  flex-shrink 0
  opacity .3
  transition opacity .2s ease-out

  .clearButton:hover &
    opacity .8

  .size-s &
    height 10px
    width @height
  .size-m &
    height 12px
    width @height
  .size-l &
    height 14px
    width @height
  .size-xl &
    height 16px
    width @height
