@import '../../theme'
json('./Input.constants.json')

$controlHeight = 34px
$paddingSide = 12px

.root
  color var(--accent-color)

.main
  position relative
  display flex
  max-width 100%
  border-radius inherit

  .size-s &
    controlSize('s')
    border-radius var(--border-radius-m)
  .size-m &
    controlSize('m')
    border-radius var(--border-radius-m)
  .size-l &
    controlSize('l')
    border-radius var(--border-radius-l)

  .isTextArea &
    height auto
    max-height unset

.border
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  controlBorder(var(--accent-color))

  transition 0.15s ease-out
  transition-property box-shadow, border-color //, clip-path
  border-radius inherit
  pointer-events none

  .root:hover &
  .isFocused &
    controlBorder(var(--active-color))

  .isFocused &
    controlFocused()

  .hasError &
    controlBorder(var(--danger-color))
    animation error-flash .4s ease-out

  .isFocused.hasError &
    controlFocus(var(--danger-color))

  .isClear &
  .isDisabled &
    controlBorder(false, !important)
    controlFocus(false, !important)

  .isDisabled &
    opacity .6
    background-color var(--accent-color-alpha-500)

@keyframes error-flash
  0%
    controlFocus(var(--danger-color), 0px)
  30%
    controlFocus(var(--danger-color), 6px)

.size-s
  controlFontSize('s')
.size-m
  controlFontSize('m')
.size-l
  controlFontSize('l')

.isDisabled
  color var(--accent-color-alpha-500)

.control
.adornmentLeft
.adornmentRight
  font-size inherit
  font-weight normal

.labelGap
  position absolute
  opacity 0
  pointer-events none

.label
  .isTextArea &
    max-height 40px

.control
  filter none // remove browser(Frefox) autofill-styles
  appearance none
  display inline-flex
  flex-grow 1
  position relative
  width 30px
  min-width 50%
  height 100%
  box-shadow none
  background none
  color inherit
  outline none
  transition border-color 0.15s ease-in-out 0s

  .isTextArea &
    margin 8px 0

  // remove browser(Chrome) autofill-styles
  &:-internal-autofill-selected
  &:-webkit-autofill
    animation-name clearBg
    animation-fill-mode both

  .hasClear &
    padding-right 1em

  &::placeholder
    color var(--accent-color-alpha-500)

  &::selection
    background-color var(--active-color-alpha-300)

@-webkit-keyframes clearBg
  to
    background transparent

.adornmentLeft
.adornmentRight
  display inline-flex
  align-items center
  user-select none
  z-index 1
  min-width 0 // to enable ellipsis work in flex

  .size-s &
    min-width 'calc(%s * 1.5)' % var(--indent-s)
  .size-m &
    min-width var(--indent-m)
  .size-l &
    min-width var(--indent-l)

  & > span
    white-space nowrap
    text-overflow ellipsis
    overflow hidden


.adornmentLeft
  margin-right $paddingSide
.adornmentRight
  margin-left $paddingSide

.requiredStar
  position absolute
  height 8px
  width 8px
  border-radius 50%
  background-color var(--warning-color)
  opacity .8
  pointer-events none

  .isDisabled &
    display none

  .size-s &
    right 4px
    top 4px
  .size-m &
    right 6px
    top 6px
  .size-l &
    right 8px
    top 8px

.isDisabled
  pointer-events none
  user-select none

.clearButton
  z-index 1
  position absolute
  top 1px
  right 0
  bottom 1px
  height auto
  margin-right 8px

.clearIcon
  opacity .2
  transition opacity .2s ease-out

  .clearButton:hover &
    opacity .5
  .clearButton:active &
    opacity .7

  .size-s &
    height 10px
    width @height
  .size-m &
    height 12px
    width @height
  .size-l &
    height 14px
    width @height
  .size-xl &
    height 16px
    width @height
