# dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript
tsconfig.tsbuildinfo
src/***/*.d.ts
!src/declaration.d.ts

# development
src/docs/localLib.json

# production
dist
build
*.tgz
