-lib/
/index.*
bin/
config/
*.config.*
.editorconfig
tsconfig.json
.babelrc
src/
build/
dist/types/docs/
assets/
node_modules/
.env
.npmrc
.eslintrc
.prettierignore
yarn-error.log
*.sublime-*
.vscode/
*.tgz
