/index.*
bin/
build/
src/
dist/types/src/docs/
assets/
CHANGELOG.md
node_modules/
config/
*.config.*
.editorconfig
tsconfig.json
.env
.babelrc
.eslintrc
.prettierrc
.prettierignore
yarn-error.log
.vscode/
