/index.*
bin/
build/
/tests/
/src/
dist/esm/types/src/docs/
assets/
CHANGELOG.md
config/
*.config.*
.editorconfig
tsconfig.json
.env
.babelrc
.eslintrc
.prettierrc
.prettierignore
yarn-error.log
.vscode/
