<<<<<<< HEAD
@import url('./fonts.css');
=======
@import url('fonts.css');
>>>>>>> master

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Play;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background-color: var(--bg-color);
  color: var(--accent-color);
}

*::selection {
  background-color: var(--active-color);
}
