@import '../../theme'

.root
  --prompt-height 80px
  position relative
  display flex
  flex-direction column
  min-height 0
  height 100%
  max-height 100%
  width 100%

.messages
  flex 1
  min-height 0

.messagesInner
  display flex
  flex-direction column
  height fit-content
  min-height 100%
  padding var(--p-10) calc((100% - 600px) / 2) 0

.messagesInnerWithPrompt
  padding-bottom 20px

.empty
  margin auto
  opacity 0.6
  text-align center
  padding 24px

.footer
  position relative
  overflow visible
  padding 0
  margin-top calc(-1 * var(--p-5))
  height fit-content
