@import '~src/theme.styl'

.root
  control()
  display inline-flex
  align-items center
  justify-content center
  box-sizing border-box

  line-height 1em
  text-decoration none
  color $accent-color

  cursor pointer
  user-select none

  &:active
  &:focus
    controlFocused()

  &:active
    color $active-color
    opacity .7

  &.isLoading
    pointer-events none

  &.isChecked
    background-color $accent-color
    color $bg-color

    path
      fill $bg-color

.size-s
  controlSize('s')
.size-m
  controlSize('m')
.size-l
  controlSize('l')

.variant-clear
  controlBorder(false, null, !important)
.variant-primary
  background-color $active-color
  color $active-text-color

.spinner
  margin-left $indent-s
