@import '../../theme'

.root
  control()
  display inline-flex
  align-items center
  justify-content center
  box-sizing border-box

  line-height 1em
  text-decoration none
  color inherit

  cursor pointer
  user-select none

  &:active
    opacity .7

  &.isLoading
    pointer-events none

  &.isChecked
    background-color var(--accent-color)
    color var(--decent-color)

    path
      fill var(--decent-color)

.prefix
.postfix
  display flex

.prefix:not(:last-child)
  margin-right .5em
.postfix:not(:first-child)
  margin-left .5em

.size-s
  controlSize('s')
  controlFontSize('s')
  controlPaddingSize('s')

  &.isSquare
    width @height

.size-m
  controlSize('m')
  controlFontSize('m')
  controlPaddingSize('m')

  &.isSquare
    width @height

.size-l
  controlSize('l')
  controlFontSize('l')
  controlPaddingSize('l')

  &.isSquare
    width @height

.isSquare
  padding 0
  justify-content center

.variant-clear
  controlBorder(false, null, !important)

  &:hover
    background-color var(--active-color-alpha-300)

.variant-default
  &:hover
    background-color var(--active-color-alpha-100)
  &:focus
    controlBorder(var(--active-color))
  &:active
    background-color var(--active-color-alpha-100)

.variant-primary
  background-color var(--active-color)
  color var(--accent-color-alpha-900)
  controlBorder(false)

.spinner
  margin-left var(--indent-s)

