@import '../../theme'

.root
  control()
  display inline-flex
  align-items center
  justify-content center
  box-sizing border-box

  line-height 1em
  text-decoration none
  color inherit

  cursor pointer
  user-select none

  &:active
    opacity .7

  &.loading
    pointer-events none

  &.checked
    &
    &:hover
      color var(--decent-color)
      background-color var(--accent-color)
      box-shadow none

    path
      fill var(--decent-color)


.prefix
.postfix
  display flex

.prefix:not(:last-child)
  margin-right .5em
.postfix:not(:first-child)
  margin-left .5em

.size-s
  controlSize('s')
  controlFontSize('s')
  controlPaddingSize('s')

  &.square
    width @min-height
    max-height @min-height

.size-m
  controlSize('m')
  controlFontSize('m')
  controlPaddingSize('m')

  &.square
    width @min-height
    max-height @min-height

.size-l
  controlSize('l')
  controlFontSize('l')
  controlPaddingSize('l')

  &.square
    width @max-height
    max-height @min-height

.square
  padding 0
  justify-content center


.variant-clear
.variant-default
.variant-outlined
.variant-primary
  &:hover
  &:active
    background-color var(--active-color-alpha-300)

.variant-clear
.variant-default
  &:hover
  &:focus
    controlButtonVariantFocus('default')

.variant-text
  controlButtonVariant('text')

  &:hover
    controlButtonVariantHover('text')
    background-color transparent !important
  &:focus
    controlButtonVariantFocus('text')

.variant-clear
  controlButtonVariant('clear')

.variant-default
  controlButtonVariant('default')

.variant-outlined
  controlButtonVariant('outlined')
  &:hover
    controlButtonVariantHover('outlined')
  &:focus
    controlButtonVariantFocus('outlined')

.variant-primary
  controlButtonVariant('primary')
  &:hover
    controlButtonVariantHover('primary')
  &:focus
    controlButtonVariantFocus('primary')

.spinner
  margin-left var(--indent-s)
