.root
  display flex
  flex-direction column
  align-items flex-end
  padding 0 var(--indent-s)
  overflow hidden

.item
.itemContentInner
  display flex
  flex-direction column

.itemContentInner
  padding var(--indent-s) 0

.item
  flex-grow 1
  width 100%
  overflow hidden
  min-height 44px
  user-select none

.itemHeader
  z-index 1
  justify-content space-between

.itemContent
  padding 0 var(--indent-s) var(--indent-s)
  margin-right 10px

.itemInnerContent
  flex-direction column

.link
  width fit-content

  &.sub
    font-size 120%

  &::after
    content ''
    position absolute
    height 100%
    left 0
    top 0
    right -200px

.subItems
  position relative
  display flex
  flex-direction column
  padding-left var(--indent-m)
  transform translateY(-2px)

  & .link
    padding-top 3px
    padding-bottom 3px
