.root
    display flex
    flex-direction column
    align-items flex-end
    padding-right 16px

.link
    display inline-block
    text-align right
    font-size 140%

    &::before
        content ''
        position absolute
        height 3px
        width 0
        right -16px
        left unset
        top 50%
        background-color var(--accent-color)
        transition width .1s ease-out
        transform none

    &:hover::before
    &.active::before
        width 16px

    &::after
        content ''
        position absolute
        top -5px
        bottom -5px
        left -100px
        right -16px

    &.sub
        font-size 120%
    