
div .inactive
  display none

.variant-default
  &.tabsScroll
    padding-bottom var(--p-5)
  &.size-xs.tabsScroll
    padding-bottom var(--p-3)
  &.size-s.tabsScroll
    padding-bottom var(--p-4)
  &.size-l.tabsScroll
    padding-bottom calc(var(--p-5) * 1.2)
  &.size-xl.tabsScroll
    padding-bottom calc(var(--p-5) * 1.35)

.tab
  flex-shrink 0
  white-space nowrap

.variant-links
  &.tabsScroll
    padding-bottom 2px

  .tab
    border-radius 0 !important

    &:not(:first-child)
      margin-left 0

  .tab
    padding var(--p-3) var(--p-5)
    background-color transparent !important
    box-shadow 0 2px 0 0 var(--accent-color-alpha-100)

    &:hover
    &:focus
      background-color transparent !important
      box-shadow 0 2px 0 0 var(--active-color-alpha-100)

  .tab.active
    color inherit
    background-color transparent !important
    box-shadow 0 2px 0 0 var(--active-color)

    &:hover
    &:focus
      color inherit
      background-color transparent !important
      box-shadow 0 2px 0 0 var(--active-color)
