
div .inactive
  display none

.tabsScroll
  padding-bottom var(--p-5)
.size-xs.tabsScroll
  padding-bottom var(--p-3)
.size-s.tabsScroll
  padding-bottom var(--p-4)
.size-l.tabsScroll
  padding-bottom calc(var(--p-5) * 1.2)
.size-xl.tabsScroll
  padding-bottom calc(var(--p-5) * 1.35)

.tab
  flex-shrink 0
  white-space nowrap
