.root
  max-height 30vh
  width calc(100% + 16px)

.item
  display inline-flex
  align-items center
  padding var(--indent-s)
  width 10em

  & > svg
    flex-shrink 0
    margin-right var(--indent-s)
