.root
  position relative
  border-radius var(--indent-s)
  overflow hidden

  &::after
    content ''
    z-index 1
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    border-radius inherit
    box-shadow inset 0 0 0 1px var(--accent-color-alpha-50)
    pointer-events none

  &.inPopup
    border-radius inherit

  &
  & *
    font-family monospace

  // &

.title
.extends
.fieldsInner
.stringType
  padding var(--indent-s)

.stringType
  white-space nowrap

.header
  z-index 1
  position sticky
  top 0
  left 0
  background-color var(--decent-color-alpha-500)
  backdrop-filter blur(50px)

.title
  background-color var(--accent-color-alpha-50)

.extends
  background-color var(--warning-color-alpha-100)

.fields
  max-height 50vh

.fieldsInner
  display inline-block

.root:not(.inPopup) .fieldsInner
  padding-right var(--indent-l)
  padding-bottom var(--indent-l)

.field
  white-space nowrap
  line-height 1.7em

.kw
  color var(--code-keyword-color)

.sep
  color var(--code-separator-color)

.value
  color var(--code-value-color)

.comment
  color var(--code-comment-color)

  &:before
    content ' // '

.typePopup
  border-radius var(--indent-s)

.type
  position relative
  color var(--code-keyword-color)

  &::before
    content ''
    position absolute
    top -5px
    left -5px
    right -5px
    bottom -5px
    border-radius var(--indent-s)
    transition background-color .2s ease-out

  &:hover::before
    background-color var(--accent-color-alpha-50)


