.root
  position relative
  border-radius var(--indent-s)

  &.inPopup
    border-radius inherit

  &
  & *
    font-family monospace

.title
.extends
.fieldsInner
.stringType
  padding var(--indent-s)

.stringType
  white-space nowrap

.header
  z-index 1
  position sticky
  top 0
  left 0
  background-color var(--decent-color-alpha-500)
  backdrop-filter blur(50px)

.title
  background-color var(--accent-color-alpha-50)

.extends
  background-color var(--warning-color-alpha-100)

.fields
  max-height 50vh

.root:not(.inPopup) .field
  padding-right var(--indent-m)

  &:last-child:not(:first-child)
    padding-bottom var(--indent-s)

.field
  white-space nowrap
  line-height 1.7em

.kw
  color var(--code-keyword-color)

.sep
  color var(--code-separator-color)

.value
  color var(--code-value-color)

.comment
  color var(--code-comment-color)

  &:before
    content ' // '

.typePopup
  border-radius var(--indent-s)

.type
  position relative
  color var(--code-keyword-color)

  &::after
    content ''
    position absolute
    top -5px
    left -5px
    right -5px
    bottom -5px
    border-radius 4px
    transition background-color .2s ease-out

  &:hover::after
    background-color var(--decent-color-alpha-200)


.typesNavigator
  margin-top -30px

  th:nth-child(3)
    min-width 20em
