@import '../../theme';

.root
  display flex
  margin 0 auto

  @media(min-width: var(--tablet))
    padding var(--p-5)

  @media(min-width: var(--desktop))
    padding var(--p-8)

.size-xs
  padding var(--p-2)
.size-s
  padding var(--p-3)
.size-m
  padding var(--p-5)
.size-l
  padding var(--p-8)
.size-xl
  padding 50px

.vertical
  flex-direction column

.justifyContentCenter
  justify-content center
.alignItemsCenter
  align-items center

.fullHeight
  height 100%
  width 100%
.fullWidth
  width 100%

.scrolledX
  overflow-x auto
.scrolledY
  overflow-y auto
