@import '~src/theme.styl';

.root
  display flex
  padding $indent-s
  margin 0 auto

  @media(min-width: $tablet)
    padding $indent-m

  @media(min-width: $desktop)
    padding $indent-l

.vertical
  flex-direction column

.centered
.centeredV.vertical
.centeredH:not(.vertical)
  justify-content center
.centered
.centeredV:not(.vertical)
.centeredH.vertical
  align-items center

.fullSize
  height 100vh
  width 100vw

.scrolledX
  overflow-x auto
.scrolledY
  overflow-y auto
