.root
  display flex
  height 50vh

.count
  text-align right
  margin-bottom 10px

.form
  max-width 200px

.list
  flex 1
  margin-left 16px
  border-radius 8px
  box-shadow 0 0 0 1px var(--default-color)

.item
  margin 0 !important

.contentGap
  height 100px
  width 100%
  background-color var(--accent-color-alpha-50)
