.gridItem
  width 100px
  height @width
  padding 0
  transition .1s ease-out
  transition-property transform, box-shadow
  overflow hidden

  &:hover
    transform scale(1.1)
    z-index 1
    box-shadow 0 0 50px var(--decent-color)

  & + &
    margin-left var(--indent-s)

  img
    object-fit cover
    width 100%
    height 100%
