$offset = 8px
$minLength = 30px

$sizeS = 1px
$sizeM = 5px
$sizeL = 9px

.root
  position relative
  overflow hidden
  display flex

.inner
  position relative
  width 100%
  overflow hidden
  -webkit-overflow-scrolling touch

  &.smooth
    scroll-behavior smooth

  // hide scrollbars
  -ms-overflow-style none  // IE and Edge
  scrollbar-width none  // Firefox
  &::-webkit-scrollbar // for Chrome, Safari and Opera
    display none

  .y &
    max-height 100%
    overflow-y auto
  .x &
    max-width 100%
    overflow-x auto

.thumb
  position absolute
  background-color var(--accent-color-alpha-100)
  border-radius 1px
  transition background-color .1s ease-out
  transform-origin center

  .y > &
    top 0
    width 100%
    min-height $minLength

  .x > &
    left 0
    height 100%
    min-width $minLength

.bar
  z-index 2
  position absolute
  transition .3s opacity .1s ease-out
  cursor pointer
  overflow hidden
  touch-action none

  .autoHide &
    opacity 0

  .isScrolling &
  &:hover
    transition-delay 0
    opacity 1

  &::before
    content ''
    position absolute
    opacity 0
    transition .2s opacity .3s ease-out
    background-color var(--accent-color-alpha-100)
    border-radius 2px

  &:hover
  &.isActive
    z-index 1

    &::before
      opacity 1
      transition-delay 0s

  &:hover .thumb
  &.isActive .thumb
    background-color var(--active-color)

  &.y
    right 0
    top $offset
    bottom @top
    width 16px

    .isTouch &
      width 32px

    &::before
    & .thumb
      right 30%

    &::before
      height 100%

  &.x
    bottom 0
    right $offset
    left @right
    height 16px

    .isTouch &
      height 32px

    &::before
    & .thumb
      bottom 30%

    &::before
      width 100%

.bar.x
  height 32px

  &::before
  & .thumb
    .size-s &
      height $sizeS
    .size-m &
      height $sizeM
      border-radius 'calc(%s / 2)' % $sizeM
    .size-l &
      height $sizeL
      border-radius 'calc(%s / 2)' % $sizeL

.bar.y
  width 32px

  &::before
  & .thumb
    .size-s &
      width $sizeS
    .size-m &
      width $sizeM
      border-radius 'calc(%s / 2)' % $sizeM
    .size-l &
      width $sizeL
      border-radius 'calc(%s / 2)' % $sizeL

.extraWide .bar
  &.x
    height 52px
  &.y
    width 52px
