.root
  border none
  margin 0
  padding 0
  min-width 0

.legend
  padding 0
  margin 0 0 0.5em

.inner
  display flex
  flex-direction column
  gap 0.5em
  align-items flex-start

.inner.horizontal
  flex-direction row
  flex-wrap wrap
  align-items center
