.root
  position absolute
  pointer-events none
  height 8px
  width @height
  min-width @width
  border-radius 50%
  background-color var(--warning-color)

.size-s
  right 4px
  top 4px
.size-m
  right 6px
  top 6px
.size-l
  right 8px
  top 8px
.size-xl
  right 10px
  top 10px
