.cell
  display flex
  justify-content center
  margin 2px
  min-width 100px

.row
  flex-direction row
.column
  flex-direction column

.align-start
  align-items flex-start
.align-end
  align-items flex-end
.align-center
  align-items center

.justify-start
  justify-content flex-start
.justify-end
  justify-content flex-end

.padded
  padding 4px

.minWidth
  min-width 100px
