@import '../../theme'

$openTransform = scale3d(1, 1, 1)
$hideTransform = scale3d(.5, .5, .5)

.root
  position relative
  display inline-block

.contentWrapper
  pointer-events none
  position absolute

  &.inline.isOpen
    position relative

  &:not(.inline)
    &
    & > .content
      position absolute

.paranja
  z-index 10
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  pointer-events none
  transition background-color .2s ease-out

  &.isOpen
    background-color var(--accent-color-alpha-800)
    pointer-events all

.trigger
  cursor pointer

  &.isOpen
    position relative
    z-index 11

  &.disabled
    pointer-events none

.content
  position relative
  z-index 11
  min-width 100%
  background-color var(--accent-color-alpha-100)
  box-shadow inset 0 0 0 1px var(--accent-color-alpha-100), 0 0 0 1px var(--decent-color-alpha-100)
  opacity 0
  transform-origin top center
  transform $hideTransform
  transition .1s ease-out
  transition-property opacity, transform
  backface-visibility hidden
  overflow hidden
  pointer-events none
  backdrop-filter blur(50px)

  &.size-s
    borderRadiusSize('s')
  &.size-m
    borderRadiusSize('m')
  &.size-l
    borderRadiusSize('l')

  &.elevation-1
    elevation1()

  &.elevation-2
    elevation2()

  &.outlined::after
    content ''
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    border-radius inherit
    pointer-events none
    box-shadow inset 0 0 0 1px var(--bg-color)

  &.isOpen
    pointer-events all
    transform $openTransform
    opacity 1


// Directions:

.axis-top
  bottom 100%
  &.hasMargin
    margin-bottom 4px
.axis-bottom
  top 100%
  &.hasMargin
    margin-top 4px
.axis-right
  left 100%
  &.hasMargin
    margin-left 4px
.axis-left
  right 100%
  &.hasMargin
    margin-right 4px

.float-top
  bottom 0
.float-right
  left 0
.float-bottom
  top 0
.float-left
  right 0

.axis-top
.axis-bottom
  &.float-middle
    left 50%
    transform $hideTransform translateX(-50%)

    &.isOpen
      transform $openTransform translateX(-50%)

.axis-left
.axis-right
  &.float-middle
    top 50%
    transform $hideTransform translateY(-50%)

    &.isOpen
      transform $openTransform translateY(-50%)

.axis-top
  &.float-middle
  &.float-right
    transform-origin bottom left
  &.float-left
    transform-origin bottom right

.axis-bottom
  &.float-middle
  &.float-right
    transform-origin top left
  &.float-left
    transform-origin top right

.axis-right
  &.float-middle
    transform-origin top left
  &.float-top
    transform-origin bottom left
  &.float-bottom
    transform-origin top left

.axis-left
  &.float-middle
    transform-origin top right
  &.float-top
    transform-origin bottom right
  &.float-bottom
    transform-origin top right
