@import '~src/theme'

$openTransform = scale3d(1, 1, 1)
$hideTransform = scale3d(.5, .5, .5)

.root
  position relative
  display inline-block

.trigger
  // display flex
  cursor pointer

  &.disabled
    pointer-events none

.contentWrapper
  pointer-events none

  &:not(.inline)
  &:not(.open)
    &
    & > .content
      position absolute

.content
  z-index 10
  min-width 100%
  border-radius 4px
  color $bg-color
  opacity 0
  transform-origin top center
  background-color $accent-color
  transform $hideTransform
  transition .1s ease-out
  transition-property opacity, transform
  backface-visibility hidden
  overflow hidden
  pointer-events none

  &::after
    content ''
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    border-radius inherit
    pointer-events none
    background-color $accent-color
    z-index -1

  &.open
    pointer-events all
    transform $openTransform
    opacity 1


// Directions:

.axis-top
  bottom 100%
  &.hasMargin
    margin-bottom 4px
.axis-bottom
  top 100%
  &.hasMargin
    margin-top 4px
.axis-right
  left 100%
  &.hasMargin
    margin-left 4px
.axis-left
  right 100%
  &.hasMargin
    margin-right 4px

.float-top
  bottom 0
.float-right
  left 0
.float-bottom
  top 0
.float-left
  right 0

.axis-top
.axis-bottom
  &.float-middle
    left 50%
    transform $hideTransform translateX(-50%)

    &.open
      transform $openTransform translateX(-50%)

.axis-left
.axis-right
  &.float-middle
    top 50%
    transform $hideTransform translateY(-50%)

    &.open
      transform $openTransform translateY(-50%)

.axis-top
  &.float-middle
  &.float-right
    transform-origin bottom left
  &.float-left
    transform-origin bottom right

.axis-bottom
  &.float-middle
  &.float-right
    transform-origin top left
  &.float-left
    transform-origin top right

.axis-right
  &.float-middle
    transform-origin top left
  &.float-top
    transform-origin bottom left
  &.float-bottom
    transform-origin top left

.axis-left
  &.float-middle
    transform-origin top right
  &.float-top
    transform-origin bottom right
  &.float-bottom
    transform-origin top right
