.root
  display flex
  flex-direction column

  & + &
    margin-top var(--p-3)

.header
  justify-content space-between

.headerIcon
  transition transform .2s ease-out, opacity .2s ease-out
  transform scale(.7)
  opacity .4

  .header:hover &
    opacity 1

.isOpen
  .header
    background-color var(--active-color-alpha-500)

  .headerIcon
    transform scale(.7) rotate(90deg)
