.root
  display flex
  flex-direction column

  & + &
    margin-top var(--indent-s)

.header
  justify-content space-between

.headerIcon
  transition transform .2s ease-out

.isOpen
  .header
    background-color var(--active-color-alpha-500)

  .headerIcon
    transform rotate(90deg)
