@import '../../theme'
json('../Select/Select.constants.json')

$itemHeight = 34px
$levelGap = 24px

.root
  width 100%
  position relative // for RequiredStart

  &.disabled
    pointer-events none

.additionalLabel
  flex-grow 1
  text-align left
  overflow hidden
  text-overflow ellipsis

.trigger
  z-index 1
  position relative

.triggerArrow
  width 14px !important
  transition transform .2s ease-out
  transform rotateX(-90deg)

  &.isOpen
    transform rotateX(0deg)

  .disabled &
    color var(--text3-color)

.triggerButton
  justify-content space-between
  width 100%
  text-align left

  &.hasTriggerArrow > span
    max-width calc(100% - 22px)

.presetPanel
  display flex
  padding 5px
  box-shadow inset 0 -1px 0 var(--decent-color-alpha-100);

.presetButton
  flex-grow 1
  justify-content center

  & + &
    margin-left 8px

.options
  max-height 200px
  overflow-y auto

.option
  display flex
  align-items center

  width 100%
  padding-top 0 !important
  padding-bottom 0 !important

  cursor pointer
  color var(--decent-color)
  text-align left
  user-select none
  animation fadeIn .3s ease-out

  .isTree & // TODO: remove?
    min-height 36px

  .size-s &
    controlPaddingSize('s')
    controlFontSize('s')
    height '%spx' % ITEM_HEIGHT_BY_SIZE-s
  .size-m &
    controlPaddingSize('m')
    controlFontSize('m')
    height '%spx' % ITEM_HEIGHT_BY_SIZE-m
  .size-l &
    controlPaddingSize('l')
    controlFontSize('l')
    height '%spx' % ITEM_HEIGHT_BY_SIZE-l
  .size-xl &
    controlPaddingSize('xl')
    controlFontSize('xl')
    height '%spx' % ITEM_HEIGHT_BY_SIZE-xl


  &:first-child
    border-top-left-radius 2px
    border-top-right-radius 2px
  &:last-child
    border-bottom-left-radius 2px
    border-bottom-right-radius 2px

  .isTree &
    padding-left 30px

  &.isGroup
    color var(--accent-color)
    font-weight 500
    background var(--bg-color-alpha-200)
    pointer-events none

  .isExpanded > &
    display flex

  & > span
    white-space nowrap
    text-overflow ellipsis
    overflow hidden

  &:hover
    background-color var(--active-color-alpha-100)

  &::before
    content ''
    display inline-block
  &.level-0::before
    content none
  &.level-1::before
    width $levelGap
    min-width @width
  &.level-2::before
    width $levelGap * 2
    min-width @width
  &.level-3::before
    width $levelGap * 3
    min-width @width
  &.level-4::before
    width $levelGap * 4
    min-width @width
  &.level-5::before
    width $levelGap * 5
    min-width @width
  &.level-6::before
    width $levelGap * 6
    min-width @width

  &.isSelected
  &.isIndeterminate
    background-color var(--active-color-alpha-500)

@keyframes fadeIn
  0%
    opacity 0
  10%
    opacity 0
  100%
    opacity 1

.expandButton
  position relative
  display flex
  justify-content flex-end
  width 30px
  height 100%
  padding 0
  overflow visible
  background-color transparent !important

  &::before // extend clickable area
    content ''
    position absolute
    top -10
    right 0
    display block
    width 100px
    height calc(100% + 20px)

  .size-m &
    margin-left -40px
  .size-l &
    margin-left -46px

.expandIcon
  transition transform .1s ease-out
  backface-visibility hidden

  .isExpanded &
    transform rotateZ(90deg) translateZ(0)

.expandButton:hover .expandIcon
  color var(--primary-color)
