@import 'theme'

body
  background-color var(--decent-color)

.root
  display flex
  height calc(100 * var(--vh))
  width 1600px
  max-width 100%
  margin 0 auto
  overflow hidden

.configBar
  z-index 1
  display flex
  justify-content space-between
  align-items center
  padding 0 var(--indent-s)
  min-height 70px

.version
  padding-left var(--indent-s)
  font-weight bold

.colorPicker
  display none

.activeColor
  background-color var(--active-color)
  height 20px
  width 20px
  border-radius inherit

@media screen and (max-width: $tablet)
  .cfgBarMenuButtonPlaceholder
    width 50px

.menuButton
  z-index 10
  position absolute
  top 0
  right 0
  max-height unset
  height 78px
  width 67px
  border-radius 0
  border-bottom-right-radius var(--indent-s)
  background-color transparent !important
  transition all .5s ease-out

  & > svg
    color var(--active-color)
    height 30px
    width 30px

  @media (min-width: $tablet)
    display none

.nav
  display flex
  flex-direction column

  @media (min-width: $tablet)
    transform translateX(var(--indent-s))
    min-width 250px

  @media (max-width: $tablet)
    width 100%

    &::before
      content ''
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      background-color var(--decent-color-alpha-900)
      backdrop-filter blur(10px)

.navItem
  text-align right
  padding var(--indent-s) var(--indent-l) 0
  font-size 20px

.cfgButton
  border-radius 50%

.paranja
  pointer-events none
  opacity 0
  transition opacity .2s ease-out

  &.visible
    pointer-events auto
    opacity .9


.content
  display flex
  padding-top 0
  padding-bottom 0
  overflow hidden

@media(max-width: $tablet)
  .nav
    position fixed
    z-index 10
    height 100%
    transform translateX(-100%)
    transition transform .2s ease-out

    .menuButton
      opacity 1

    .isMenuOpen &
      transform translateX(0)
