@import '../../theme'

.root
  cursor pointer
  display inline-flex
  align-items center
  box-sizing border-box
  text-decoration none
  color inherit
  user-select none

.disabled
  opacity .4
  pointer-events none

.controlWrapper
  position relative
  display block
  transition .2s ease-out
  transition-property opacity, box-shadow
  margin-right 1em

  .variant-default &
    controlButtonVariant('default')
  .variant-outlined &
    controlButtonVariant('outlined')

  .root:hover &
    background-color var(--active-color-alpha-100)

  .isActive &
  .isFocused &
    outline(var(--active-color), ,!important)

  .hasError &
    outline(var(--danger-color), ,!important)

  .isActive &
    opacity .7
    background-color var(--active-color-alpha-100)

.control
  control()
  transition .1s ease-out
  transition-property background-color, color
  cursor pointer

.dot
  position absolute
  left 50%
  top 50%
  width 42%
  height 42%
  border-radius 50%
  background-color var(--active-color)
  opacity 0
  transform translate(-50%, -50%) scale(.4)
  transition .1s ease-in
  transition-property transform, opacity
  pointer-events none

  .checked &
    opacity 1
    transform translate(-50%, -50%) scale(1.8)

.size-xs
  controlFontSize('xs')

  .controlWrapper
    controlSize('xs')
    borderRadiusRoundSize('xs')

.size-s
  controlFontSize('s')

  .controlWrapper
    controlSize('s')
    borderRadiusRoundSize('s')

.size-m
  controlFontSize('m')

  .controlWrapper
    controlSize('m')
    borderRadiusRoundSize('m')

.size-l
  controlFontSize('l')

  .controlWrapper
    controlSize('l')
    borderRadiusRoundSize('l')

.size-xl
  controlFontSize('xl')

  .controlWrapper
    controlSize('xl')
    borderRadiusRoundSize('xl')
