@import '../../theme'

.root
  position relative

.border
  position absolute
  left 0
  top 0
  height 100%
  width 100%
  pointer-events none
  border-radius inherit
  transition background-color .2s ease-out

  .variant-outlined &
    controlButtonVariant('outlined')

    &:hover
      controlButtonVariantHover('outlined')

  .variant-default &
    controlButtonVariant('default')
    background-color var(--accent-color-alpha-100)

    &:hover
      controlButtonVariantHover('default')

  .empty:hover &
    background-color var(--active-color-alpha-500)


.label
  display flex
  align-items center
  position absolute
  height 100%

.inner
  max-height inherit

.items
  display flex
  align-items center
  flex-wrap wrap
  width calc(100% + 8px)
  margin -4px
  font-size 0

.item
  position relative
  display inline-flex
  margin 4px

  &:first-child:last-child
    width 100%

.addButton
  align-items center
  justify-content center
  position relative
  transition background-color .2s ease-out
  cursor pointer

  .root:not(.empty) &:hover
      background-color var(--active-color-alpha-500)

.input
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  opacity 0
  pointer-events none

.size-s
  controlFontSize('s')

  .border
  .item
    borderRadiusSize('s')

  .items
    controlPaddingSize('s')
    padding-top $controlPaddingS
    padding-bottom $controlPaddingS

  .item
    height 50px
    width 50px

.size-m
  controlFontSize('m')

  .border
  .item
    borderRadiusSize('m')

  .items
    controlPaddingSize('m')
    padding-top $controlPaddingM
    padding-bottom $controlPaddingM

  .item
    height 70px
    width 70px

.size-l
  controlFontSize('l')

  .border
  .item
    borderRadiusSize('l')

  .items
    controlPaddingSize('l')
    padding-top $controlPaddingL
    padding-bottom $controlPaddingL

  .item
    height 100px
    width 100px

.draggable
  width 100%
  position relative

  .item:not(.addButton)
    cursor move

