@import '../../theme.styl'

.root
  font-size 80%
  line-height 1.5em
  margin-bottom .2em

.size-xs
  controlPaddingSize('xs')
.size-s
  controlPaddingSize('s')
.size-m
  controlPaddingSize('m')
.size-l
  controlPaddingSize('l')
.size-xl
  controlPaddingSize('xl')

.variant-danger
  color var(--danger-color)
