@import '../../theme.styl'

.root
  font-size 80%
  line-height 1.5em
  margin-bottom .2em

.size-s
  controlPaddingSize('s')
.size-m
  controlPaddingSize('m')
.size-l
  controlPaddingSize('l')

.variant-danger
  color var(--danger-color)
