.item
  height 100px
  width 100px
  margin 2px

  & > div
    display flex
    align-items center
    justify-content center
    height 100%
    width 100%
    background var(--accent-color-alpha-100)
    user-select none
