@import '../../theme'

.root
  display flex
  flex-direction column
  gap var(--p-5)
  max-height 100%
  border-radius var(--border-radius-l)
  background-color var(--surface-color)
  position relative

  &.blur
    background-color var(--decent-color-alpha-500)
    backdrop-filter blur(20px)

  &.padding-xs
    padding var(--p-2)
    border-radius var(--p-3)
  &.padding-s
    padding var(--p-3)
    border-radius var(--p-4)
  &.padding-m
    padding var(--p-5)
    border-radius var(--p-6)
  &.padding-l
    padding var(--p-8)
    border-radius var(--p-8)
  &.padding-xl
    padding var(--p-10)
    border-radius var(--p-11)

.header
  display flex
  align-items flex-start
  justify-content space-between
  gap var(--p-5)

  &:has([data-slot="card-action"])
    grid-template-columns 1fr auto

.icon
  display flex
  align-items center
  justify-content center
  width 48px
  height 48px
  border-radius var(--p-2)
  flex-shrink 0
  box-shadow inset 0 0 0 1px var(--decent-color-alpha-200)

  &.withBackground
    background-color var(--accent-color-alpha-100)
    box-shadow none

  & > img
  & > svg
    width 20px
    height 20px

.headerText
  flex-grow 1
  overflow hidden

.scroll
  max-height 100%
  overflow hidden
  width calc(100% + var(--p-5))
  padding-right var(--p-5)

  & [data-slot="card-content"]
    padding-right 1px

.centered
.fullHeight
  display flex
  flex-direction column
.centered
  align-items center
  justify-content center
.fullHeight
  flex-grow 1

.title
.description
  display -webkit-box
  -webkit-line-clamp 2
  -webkit-box-orient vertical
  overflow hidden

.title
  font-size 120%
  font-weight 500
  line-height 1

.description
  max-width 100%
  word-break break-word
  color var(--accent-color-alpha-500)

.action
  grid-column-start 2
  grid-row-span 2
  grid-row-start 1
  align-self start
  justify-self end

.footer
  display flex
  align-items center
  justify-content space-between
  flex-shrink 0
  overflow hidden
