.root
  display inline-block
  color inherit
  pointer-events none

.size-xs
  width 12px
  height @width
.size-s
  width 18px
  height @width
.size-m
  width 22px
  height @width
.size-l
  width 28px
  height @width
.size-xl
  width 34px
  height @width
