.root
  display inline-block
  color inherit
  pointer-events none

.size-s
  width 12px
  height @width
.size-m
  width 16px
  height @width
.size-l
  width 20px
  height @width
.size-xl
  width 26px
  height @width
