.example
  height 300px
  width 300px
  max-width 100%
  font-size 18px
  border-radius 8px
  box-shadow inset 0 0 0 1px var(--accent-color-alpha-100)
  color var(--accent-color-alpha-100)

.inner
  padding 8px

.input
  flex-grow 1
  margin-bottom 8px

  & + &
    margin-left 8px

.innerScroll
  height calc(100% - 150px)
  max-height calc(100% - 150px)
  width calc(100% - 150px)
  max-width calc(100% - 150px)
  margin 100px
