<!DOCTYPE html>
<html lang="<%= htmlWebpackPlugin.options.lang %>">
  <head>
    <base href="/" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <!-- <%= htmlWebpackPlugin.options.version %> -->
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/assets/common.css" />
  </head>
  <body>
    <div id="app-root"></div>
    <div id="app-modal"></div>
  </body>
</html>
