.root
  display flex
  flex-direction row
  gap var(--indent-m)

.calendar
  width 100%

  .doubleCalendar &
    width 50%

.day
  &.start
  &.end
    background-color var(--active-color-alpha-500) !important

  &.start
    border-top-right-radius 0
    border-bottom-right-radius 0

  &.end
    border-top-left-radius 0
    border-bottom-left-radius 0

  &.between
    background-color var(--active-color-alpha-100)
    border-radius 0

  &:hover
    background-color var(--accent-color-alpha-100)
