@import 'theme'

.root
  position relative
  display flex
  flex-grow 1
  width calc(100% - 2px)
  max-height calc(100 * var(--vh) - 110px)
  margin 1px
  margin-top 2px
  box-shadow inset 0 0 20px var(--accent-color-alpha-50), 0 0 0 1px var(--accent-color-alpha-50)
  border-radius var(--border-radius-l)
  background-color var(--decent-color)

  &::before
  &::after
    content ''
    position absolute
    height 100%
    width 100%
    transition opacity 5s linear
    backface-visibility hidden
    pointer-events none

  canvas
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    z-index -1
    border-radius inherit

  &.fullscreen
    position fixed
    top 0
    left 0
    z-index 11
    width 100vw
    height calc(100 * var(--vh))
    max-height @height
    border-radius 0
    box-shadow none

.colorBg
  background-color transparent
  box-shadow 0 0 0 1px var(--accent-color-alpha-50)

  .colorButton
    filter saturate(0)  brightness(2)

.scrollbar
  transform translateX(4px)

.editorContainer
.editorResult
  border-radius inherit
  flex 1

  @media(orientation: portrait)
    height 50%

.editorContainer
  position relative
  border-bottom-left-radius 0
  border-bottom-right-radius 0

.error
.editorContainer *
  font-family monospace !important

.editorResult
  display flex
  flex-direction column
  position relative

.editor
  padding-bottom 16px
  background-color unset !important
  font-size 80%

  & > pre
    padding-right 50px !important // for fullscreen button
    background-color unset !important

@media(max-width: $tablet)
  .editor
  .error
    font-size 80%

.editor.runtime
  display none

.error
.preview
  padding 16px

.error
  white-space break-spaces
  background-color var(--danger-color-alpha-300) !important

.preview
  flex 1
  margin-top -1px
  padding-top var(--indent-m)
  border-top-left-radius 0
  border-top-right-radius 0

  &::before
    content ''
    position absolute
    top 1px
    bottom 1px
    left 0
    width 1px
    background var(--accent-color-alpha-50)

.toolbar
  position absolute
  top 0
  right 24px

  display flex
  flex-direction row
  align-items center
  justify-content center

  background-color var(--accent-color-alpha-50)
  backdrop-filter blur(10px)
  border-bottom-left-radius $borderRadiusL
  border-bottom-right-radius $borderRadiusL
  // box-shadow 0 0 0 1px var(--accent-color-alpha-50)

  & > button
    background-color transparent !important
    transition transform 0.2s ease-in-out

    &:hover
      transform scale(1.2)

  .fullscreen &
    flex-direction row

@media (orientation: portrait)
  .root
    flex-direction column

  .editorContainer
    max-height 60vh

  .preview
    max-height 100%

    &::before
      left 1px
      right 1px
      height 1px
      width unset

@media (orientation: landscape)
  .preview
    padding-top 50px
    max-height 100%
