.root
  box-shadow 0 0 0 1px var(--accent-color-alpha-100);
  border-radius var(--border-radius-l)
  margin 1px

.editorContainer
.preview
  border-radius inherit

.editorContainer
  max-height 60vh
  border-bottom-left-radius 0
  border-bottom-right-radius 0
  background-color var(--accent-color-alpha-100)

  *
    font-family monospace !important

.editor.runtime
  display none

.error
.preview
  padding 16px

.error
  white-space break-spaces
  background-color var(--danger-color-alpha-100)

.preview
  margin-top -1px
  border-top-left-radius 0
  border-top-right-radius 0
