@import '../../theme'
json('./Notifications.constants.json')

$width = 300px
$height = 80px
$padding = 10px
$duration = '%sms' % ANIMATION_DURATION
$paddingBottom = 30px

.root
  z-index 20
  position fixed
  right 0
  top 0
  width 320px
  transition right .3s ease-out
  overflow hidden
  max-height calc(100 * var(--vh))
  transform translateZ(0) // fix background blinking on hover

.inner
  padding var(--indent-m)

.empty
  pointer-events none

.item
.itemInner
  border-radius var(--border-radius-l)

.item
  position relative
  left 100%
  max-height 0 // animate `height:auto` – https://stackoverflow.com/a/8331169/2131453
  width $width
  max-width 100%
  opacity 0
  transition all $duration ease-out
  backface-visibility hidden

  & + &
    padding-top 10px

  &:hover
    transform translateX(-2px)

  // &:active
  //   transform scale(.99)

.visible
  max-height 500px
  left 0
  opacity 1

.itemInner
  position relative
  display flex
  align-items center
  padding 16px 32px 16px 20px
  box-sizing border-box
  background-color var(--decent-color-alpha-500)
  backdrop-filter blur(30px)
  box-shadow inset 0 0 1px var(--accent-color-alpha-300), 0 0 20px var(--decent-color)
  transition $duration ease-out
  transition-property transform

  .type-warning &
    background-color var(--warning-color-alpha-300)

  .type-danger &
    background-color var(--danger-color-alpha-300)


.icon
  height 24px
  width 24px
  min-width 24px
  background no-repeat center
  margin-right 10px

.type-loading .icon
  transform translateY(-20px)

.text
  display flex
  flex-direction column
  flex-grow 1
  z-index 1

.title
  font-size 16px
  font-weight bold

.content
  font-size 12px
  margin-top 'calc(%s / 2)' % var(--indent-s)

  &:first-child
    margin-top 0

.close
  position absolute
  right -5px
  top -5px
  height 40px !important
  width @height
  max-height @height
  max-width @width
  border-radius 50%
  transition .1s ease-out
  transition-property opacity, transform
  transform scale(.8)
  background-color transparent
  cursor pointer
  opacity 0

  .item:hover &
    opacity .8

  &:hover
    opacity 1
    transform scale(1)
    background-color unset

@media (max-width: $tablet)
  .root
  .item
    width 100%

  .title
    font-size 20px
  .content
    font-size 16px

  .close
    transform scale(1.2)
