@import '../../theme'

.root
  cursor pointer
  display inline-flex
  align-items center
  box-sizing border-box
  text-decoration none
  color inherit
  user-select none

.disabled
  opacity .4
  pointer-events none

.controlWrapper
  position relative
  display block
  border-radius var(--border-radius-m)
  transition .2s ease-out
  transition-property opacity, box-shadow
  margin-right 1em

  .variant-default &
    controlButtonVariant('default')
  .variant-outlined &
    controlButtonVariant('outlined')

  .root:hover &
    background-color var(--active-color-alpha-100)

  .isActive &
  .isFocused &
    outline(var(--active-color), ,!important)

  .hasError &
    outline(var(--danger-color), ,!important)

  .isActive &
    opacity .7
    background-color var(--active-color-alpha-100)

.control
  control()
  transition .1s ease-out
  transition-property background-color, color
  cursor pointer

.checkmark
  position absolute
  left 0px
  top 0px

  height 100% !important
  width 100% !important

  opacity 0
  transform scale(.6) rotateY(-90deg)
  transition .1s ease-in
  transition-property transform, opacity
  pointer-events none

  .checked &
    opacity 1
    transform scale(.6)

.size-s
  controlFontSize('s')

  .controlWrapper
    controlSize('s')
    borderRadiusSize('s')

.size-m
  controlFontSize('m')

  .controlWrapper
    controlSize('m')
    borderRadiusSize('m')

.size-l
  controlFontSize('l')

  .controlWrapper
    controlSize('l')
    borderRadiusSize('l')
