@import '../../theme'

.root
  cursor pointer
  display inline-flex
  align-items center
  box-sizing border-box
  text-decoration none
  color inherit
  user-select none

.controlWrapper
  controlBorder()
  position relative
  display block
  border-radius var(--border-radius-m)
  transition .2s ease-out
  transition-property opacity, box-shadow

  .root:hover &
    background-color var(--active-color-alpha-100)

  .isActive &
  .isFocused &
    controlBorder(var(--active-color), ,!important)

  .isActive &
    opacity .7
    background-color var(--active-color-alpha-100)

  .size-s &
    height 30px
    width @height
    margin-right var(--indent-s)
  .size-m &
    height 40px
    width @height
    margin-right var(--indent-m)
  .size-l &
    height 50px
    width @height
    margin-right var(--indent-l)

.control
  control()
  transition .1s ease-out
  transition-property background-color, color
  cursor pointer
  border-radius var(--border-radius-s)

.checkmark
  position absolute
  left 0px
  top 6px

  height 100%
  width 100%

  opacity 0
  transform scale(.8) rotateZ(-45deg)
  transform-origin center
  transition .1s ease-in
  transition-property transform, opacity
  pointer-events none

  &::before
  &::after
    content ''
    position absolute
    width 3px
    background-color var(--accent-color)
    border-radius var(--border-radius-s)

  &::before
    z-index 1
    left calc(50% - 2px)
    height 16px
    transform rotateZ(9deg)

  &::after
    top 3px
    left 21px
    height 20px
    transform rotateZ(-103deg)

  .isChecked &
    opacity 1
