@import '../../theme'

.root
  cursor pointer
  display inline-flex
  align-items center
  box-sizing border-box
  text-decoration none
  color inherit
  user-select none

.controlWrapper
  controlBorder()
  position relative
  display block
  border-radius var(--border-radius-m)
  transition .2s ease-out
  transition-property opacity, box-shadow

  .root:hover &
    background-color var(--active-color-alpha-100)

  .isActive &
  .isFocused &
    controlBorder(var(--active-color), ,!important)

  .hasError &
    controlBorder(var(--danger-color), ,!important)

  .isActive &
    opacity .7
    background-color var(--active-color-alpha-100)

  .size-s &
    height 30px
    width @height
    margin-right var(--indent-s)
  .size-m &
    height 40px
    width @height
    margin-right var(--indent-m)
  .size-l &
    height 50px
    width @height
    margin-right var(--indent-l)

.control
  control()
  transition .1s ease-out
  transition-property background-color, color
  cursor pointer
  border-radius var(--border-radius-s)

.checkmark
  position absolute
  left 0px
  top 0px

  height 100%
  width 100%

  opacity 0
  transform scale(.7) rotateY(-90deg)
  transition .1s ease-in
  transition-property transform, opacity
  pointer-events none

  .isChecked &
    opacity 1
    transform scale(.7)

