@import '../../theme'

.chip
  display inline-flex
  align-items center
  gap 2px
  background var(--accent-color-alpha-100)
  cursor pointer
  transition background 0.2s ease

  &:hover
    background var(--accent-color-alpha-200)

.size_xs
  padding-left var(--indent-xs)
  border-radius var(--indent-xs)
  controlFontSize('s')

.size_s
  padding-left var(--indent-s)
  border-radius var(--indent-s)
  controlFontSize('m')

.size_m
  padding-left var(--indent-m)
  border-radius var(--indent-m)
  controlFontSize('l')

.size_l
  padding-left var(--indent-l)
  border-radius var(--indent-l)
  controlFontSize('xl')

.selected
.selected:hover
  background var(--accent-color-alpha-300)


.content
  display flex
  align-items center

.remove
  display flex
  align-items center
  justify-content center
  transform scale(.6)
  opacity .3
  transition opacity .2s ease, transform .1s ease

  &:hover
    background-color var(--danger-color-alpha-300)
    transform scale(.8)

  svg
    transform scale(.8)

.chip:hover .remove
  opacity 1
