.root
  position absolute
  top 0
  right 0
  z-index 3
  border-top-left-radius 0
  border-bottom-right-radius 0

  & > svg
    transform scale(1.4)

  &::before
    content ''
    display block
    position relative
    left -10px
    top -10px
    right -10px
    bottom -10px
