.root
  --brad: var(--border-radius-l)
  position relative
  overflow hidden
  border-radius var(--brad)
  max-height 100%

  table
    min-width 100%

  tbody
    overflow auto
    overflow-scrolling touch

  thead
    position sticky
    top 0
    z-index 1

  td, th
    padding var(--cell-padding)
    min-width 5em
    text-align left

  td
    vertical-align top

  tr:last-child td
    padding-bottom var(--last-row-padding-bottom) // for scrollbar
    border-bottom-left-radius var(--brad)
    border-bottom-right-radius var(--brad)

// .variant-clear - no borders and backgrounds, nothing to clear

.variant-default
  box-shadow 0 0 0 2px var(--accent-color-alpha-100)

  th
    background-color var(--accent-color-alpha-100)
  td
    box-shadow inset 0 1px 0 0 var(--accent-color-alpha-100)

.variant-plain
  th
    border-bottom 1px solid var(--accent-color-alpha-100)

  th
  td
    border-bottom 1px solid var(--accent-color-alpha-100)
    border-right 1px solid var(--accent-color-alpha-100)

    &:last-child
      border-right none

  tr:last-child td
    border-bottom none

.size-xs
  --cell-padding: 2px
  --last-row-padding-bottom: var(--p-4)

.size-s
  --cell-padding: var(--p-1)
  --last-row-padding-bottom: var(--p-5)

.size-m
  --cell-padding: var(--p-2)
  --last-row-padding-bottom: var(--p-5)

.size-l
  --cell-padding: var(--p-5)
  --last-row-padding-bottom: var(--p-8)

.size-xl
  --cell-padding: var(--p-8)
  --last-row-padding-bottom: var(--p-8)

.scroll
  position static

.xScrollbar
  transform translateY(4px)
.yScrollbar
  transform translateX(4px)

.sticky
  position sticky
  left 0
  z-index 1
  background-color var(--decent-color)

  th&
    background-color var(--accent-color)
    color var(--decent-color)

.blur .sticky
  backdrop-filter blur(20px)
  background-color var(--decent-color-alpha-500)

.blur th.sticky
    background-color var(--accent-color-alpha-500)
    color var(--decent-color-alpha-800)
