$tablet = 700px
$desktop = 1200px

borderRadius(mod = 1)
  border-radius mod * 4px

shadow()
  box-shadow 0 10px 20px var(--accent-color)

outline(color = var(--accent-color), size = 2px, rest...)
  if color
    box-shadow inset 0 0 0 size color rest
  else
    box-shadow none rest

control()
  appearance none
  outline none
  box-sizing border-box
  transition .2s ease-out
  transition-property background-color, box-shadow, opacity

  &:hover
  &:focus
    background-color var(--active-color-alpha-100)

  &[disabled]
    opacity .6
    background-color var(--accent-color-alpha-100)
    pointer-events none

controlButtonVariant(variant)
  if variant == 'clear'
    background-color transparent

  if variant == 'default'
    background-color var(--accent-color-alpha-100)

  if variant == 'outlined'
    background-color transparent
    outline(var(--accent-color))

  if variant == 'primary'
    background-color var(--active-color)
    color var(--accent-color-alpha-900)

controlButtonVariantHover(variant)
  if variant == 'clear'
    background-color var(--active-color-alpha-300)

  if variant == 'default'
    background-color var(--active-color-alpha-300)

  if variant == 'primary'
    background-color var(--active-color-alpha-800)

controlButtonVariantFocus(variant)
  if variant == 'clear'
    background-color var(--active-color-alpha-300)

  if variant == 'default'
    background-color var(--active-color-alpha-300)

  if variant == 'outlined'
    background-color var(--active-color-alpha-300)
    outline(var(--active-color))

  if variant == 'primary'
    background-color var(--active-color)
    outline(var(--accent-color))


controlFocused(args...)
  outline(var(--active-color), 2px, args)

controlDisabled()
  outline(var(--accent-color))
  color var(--accent-color)
  cursor not-allowed
  opacity .5

controlSize(size)
  if size == 's'
    min-height 30px
    min-width 30px
    borderRadiusSize('s')

  if size == 'm'
    min-height 40px
    min-width 40px
    borderRadiusSize('m')

  if size == 'l'
    min-height 50px
    min-width 50px
    borderRadiusSize('l')

controlFontSize(size)
  if size == 's'
    font-size 12px
  if size == 'm'
    font-size 16px
  if size == 'l'
    font-size 20px

$controlPaddingS = 10px
$controlPaddingM = 12px
$controlPaddingL = 14px

controlPaddingSize(size)
  if size == 's'
    padding '0 %s' % $controlPaddingS
  if size == 'm'
    padding '0 %s' % $controlPaddingM
  if size == 'l'
    padding '0 %s' % $controlPaddingL

borderRadiusSize(size)
  if size == 's'
    border-radius 4px
  if size == 'm'
    border-radius 6px
  if size == 'l'
    border-radius 8px
  if size == 'xl'
    border-radius 10px
